<form action="/savefiles" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td>Files</td>
      <td><input type="file" name="file" /></td>
    </tr>
    <tr>
      <td><button type="submit">Save Files !</button></td>
      <td></td>
    </tr>
  </table>
</form>
